@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Regular.eot');
  src: local('Inter Regular'), local('Inter-Regular'), url('fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/Inter-Regular.woff2') format('woff2'), url('fonts/Inter-Regular.woff') format('woff'),
    url('fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-Bold.eot');
  src: local('Inter Bold'), local('Inter-Bold'), url('fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/Inter-Bold.woff2') format('woff2'), url('fonts/Inter-Bold.woff') format('woff'),
    url('fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter-ExtraBoldItalic.eot');
  src: local('Inter Extra Bold Italic'), local('Inter-ExtraBoldItalic'),
    url('fonts/Inter-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/Inter-ExtraBoldItalic.woff2') format('woff2'), url('fonts/Inter-ExtraBoldItalic.woff') format('woff'),
    url('fonts/Inter-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  line-height: 1;
  font-family: 'Inter', sans-serif;
}
button {
  cursor: pointer;
  background-color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

body {
  background: url('./img/decor-border-bg.webp') left bottom / cover no-repeat,
    url('./img/aviator.webp') left bottom / 30% auto no-repeat, url('./img/bg.webp') right center / cover no-repeat;
  border-image-source: url('./img/border-bg.webp');
  border-image-slice: 36;
  border-style: solid;
  border-width: calc(17px + (36 - 17) * ((100vw - 360px) / (1440 - 360)));
  min-height: 829px;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: calc(0px + (43 - 0) * ((100vw - 360px) / (1440 - 360)))
    calc(59px + (110 - 59) * ((100vw - 360px) / (1440 - 360)));
}

.logo {
  width: calc(90px + (273 - 90) * ((100vw - 360px) / (1440 - 360)));
  height: 42px;
  margin-inline: auto;
}

.content {
  display: flex;
  gap: 10px;
  margin-bottom: 65px;
}

.content div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content div:first-child {
  flex: 1 1 61%;
  gap: 30px;
}

.title {
  font-style: italic;
  font-weight: 800;
  font-size: clamp(1.5rem, calc(0.17rem + 5.93vw), 5.5rem);
  line-height: 89%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  transform: rotate(-4deg);
}

.text {
  font-style: italic;
  font-weight: 800;
  font-size: clamp(1.13rem, calc(0.5rem + 2.78vw), 3rem);
  line-height: 89%;
  text-transform: uppercase;
  text-align: center;
  color: #0bbbef;
  transform: rotate(-4deg);
  width: 100%;
  white-space: nowrap;
}

.subtitle {
  font-style: italic;
  font-weight: 800;
  font-size: clamp(2.25rem, calc(1.67rem + 2.59vw), 4rem);
  line-height: 89%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-shadow: -5px 7px 0px #000;
  transform: rotate(-4deg);
  max-width: calc(330px + (645 - 330) * ((100vw - 360px) / (1440 - 360)));
  margin-inline: auto;
}

.price {
  flex: 1 1 32%;
  align-items: start;
  padding-left: 38px;
}

.price_bonus {
  font-style: italic;
  font-weight: 800;
  font-size: clamp(1.5rem, calc(0.67rem + 3.7vw), 4rem);
  line-height: 90%;
  text-align: center;
  color: #fff;
  text-shadow: -7px 9px 0 #000;
  margin-left: 17px;
  margin-top: -13px;
}

.price_text {
  font-style: italic;
  font-weight: 800;
  font-size: clamp(2.5rem, calc(1.63rem + 3.89vw), 5.13rem); /*82px*/
  line-height: 90%; /* 73.8px */
  text-align: center;
  color: #fff;
  text-shadow: -6.741px 9.437px 0px #000;
  margin-top: 0px;
}

.btn_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  padding: 26px calc(20px + (69 - 20) * ((100vw - 360px) / (1440 - 360)));
  box-shadow: 0 0 80px 15px #0bbbef;
  background: #0bbbef;
  transform: skewX(-11deg) rotate(-4deg);
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: clamp(1.5rem, calc(1rem + 2.22vw), 3rem);
  line-height: 89%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  display: inline-block;
  margin-inline: auto;
  transition: all 0.3s linear;
}

.btn:hover {
  background: #0a9dca;
}

@media screen and (max-width: 1260px) {
  .price {
    flex: 1 1 32%;
    align-items: start;
    padding-left: 6px;
    padding-top: 32px;
  }
}

@media screen and (max-width: 998px) {
  body {
    background: url('./img/bg-small.webp') 0% 28% / cover no-repeat;
    border-image-source: url('./img/decor-border-bg-small.svg');
    min-height: 100vh;
  }
  .content {
    flex-direction: column-reverse;
    margin-bottom: 96px;
  }

  .content div:first-child {
    gap: 9px;
  }

  .title {
    text-align: start;
    position: relative;
  }

  .price {
    align-items: center;
    margin-bottom: 15px;
    padding-left: 0;
    padding-top: 0;
  }

  .btn {
    position: relative;
  }
  .btn::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 200%;
    top: -180%;
    left: -70%;
    background: url('./img/aviator.webp') center / contain no-repeat;
  }
}

@media screen and (max-width: 440px) {
  body {
    background: url('./img/bg-small.webp') center top / auto 100% no-repeat;
    border-image-source: url('./img/decor-border-bg-small.svg');
  }

  .header {
    margin-bottom: 130px;
  }

  .content {
    flex-direction: column;
    margin-bottom: 25px;
  }

  .text {
    margin-bottom: 25px;
  }

  .subtitle {
    text-shadow: -2.626px 3.677px 0px #000;
  }
  .price {
    margin-top: 35px;
  }

  .price_text {
    text-shadow: -1px 4px 0px #000;
  }
  .price_bonus {
    margin-left: 0;
    margin-bottom: -7px;
    text-shadow: 0px 2px 0px #000;
  }
  .btn::before {
    content: none;
  }

  .title::before {
    content: '';
    display: block;
    position: absolute;
    width: 150px;
    height: 100px;
    top: -99px;
    right: 88px;
    background: url('./img/aviator.webp') center / contain no-repeat;
  }
}
