*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  line-height: 1;
  font-family: 'Inter', sans-serif;
}
button {
  cursor: pointer;
  background-color: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

body {
  background: url('./img/decor-border-bg.webp') left bottom / cover no-repeat,
    url('./img/rocket.webp') left bottom 18px / 33% auto no-repeat, url('./img/bg.webp') right center / cover no-repeat;
  border-image-source: url('./img/border-bg.webp');
  border-image-slice: 36;
  border-style: solid;
  border-width: calc(17px + (36 - 17) * ((100vw - 360px) / (1440 - 360)));
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: calc(0px + (43 - 0) * ((100vw - 360px) / (1440 - 360)))
    calc(32px + (110 - 32) * ((100vw - 360px) / (1440 - 360)));
}

.logo {
  width: calc(90px + (273 - 90) * ((100vw - 360px) / (1440 - 360)));
  height: 42px;
  margin-inline: auto;
}

.content {
  display: flex;
  gap: 10px;
  margin-bottom: 65px;
}

.content div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content div:first-child {
  flex: 1 1 61%;
  gap: 30px;
}

.title {
  font-style: italic;
  font-weight: 800;
  font-size: clamp(1.5rem, calc(0.17rem + 5.93vw), 5.5rem);
  line-height: 89%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  transform: rotate(-4deg);
}

.text {
  font-style: italic;
  font-weight: 800;
  font-size: clamp(1.13rem, calc(0.5rem + 2.78vw), 3rem);
  line-height: 89%;
  text-transform: uppercase;
  text-align: center;
  color: #0bbbef;
  transform: rotate(-4deg);
  width: 100%;
  white-space: nowrap;
}

.subtitle {
  font-style: italic;
  font-weight: 800;
  font-size: clamp(2.25rem, calc(1.67rem + 2.59vw), 4rem);
  line-height: 89%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-shadow: -5px 7px 0 0 #000, inset 3px 4px 0 0 #dfdfdf, inset 1px 1px 0 0 #fff;
  transform: rotate(-4deg);
}

.price {
  flex: 1 1 32%;
  align-items: start;
}

.price p {
  font-style: italic;
  font-weight: 800;
  font-size: clamp(2.5rem, calc(2.04rem + 2.04vw), 3.88rem);
  line-height: 90%;
  text-align: center;
  color: #fff;
  text-shadow: -7px 9px 0 0 #000;
  margin-top: 25px;
}

.price_text {
  font-style: italic;
  font-weight: 800;
  font-size: clamp(2.5rem, calc(1.63rem + 3.89vw), 5.13rem); /*82px*/
  line-height: 90%;
  text-align: center;
  color: #fff;
  text-shadow: -7px 9px 0 0 #000;
  margin-top: calc(10px + (25 - 10) * ((100vw - 360px) / (1440 - 360)));
}
.btn {
  width: content-fit;
  padding: 26px calc(20px + (69 - 20) * ((100vw - 360px) / (1440 - 360)));
  box-shadow: 0 0 80px 15px #0bbbef;
  background: #0bbbef;
  transform: skewX(-11deg) rotate(-4deg);
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: clamp(1.5rem, calc(1rem + 2.22vw), 3rem);
  line-height: 89%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  display: block;
  margin-inline: auto;
  transition: all 0.3s linear;
}

.btn:hover {
  background: #0a9dca;
}

@media screen and (max-width: 998px) {
  body {
    background: url('./img/rocket.webp') left 65% / 56% auto no-repeat,
      url('./img/bg-small.webp') top center / cover no-repeat;
    border-image-source: url('./img/decor-border-bg-small.svg');
  }
  .content {
    flex-direction: column-reverse;
    margin-bottom: 96px;
  }

  .content div:first-child {
    gap: 9px;
  }

  .title {
    text-align: start;
  }

  .price {
    align-items: center;
    margin-bottom: 15px;
  }
}
